/* We will use a table to store each item in the store*/
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Catamaran');



.animate-height{
	transition: all 1s;
	height: 40vh;
}

.animate-height.ng-hide{
	height:0;
}

.animate-height.ng-add{
	height:40vh;
}


.selected{
	border: 5px solid black;
}

input.ng-invalid.ng-dirty{
	border: 3px solid red;
}
input.ng-invalid.ng-touched{
	border: 3px solid red;
}



.more-info
{
	cursor:pointer;
}