/* We will use a table to store each item in the store*/
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Catamaran');


.animate-height{
	width: 100%;
	overflow: hidden;
}

.animate-height.ng-hide-add, .animate-height.ng-hide-remove{
	transition: all linear 1s;
	max-height: 400px;
}

.animate-height.ng-hide{
	max-height: 0px;
}

.selected{
	border: 5px solid black;
}

input.ng-invalid.ng-dirty{
	border: 3px solid red;
}

input.ng-invalid.ng-touched{
	border: 3px solid red;
}

.more-info
{
	cursor:pointer;
}