/* We will use a table to store each item in the store*/
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Muli');

:root /*Variables*/
{
	/*--main-theme: Goldenrod;/*Crimson;*/
	--home-button: #C0C0C0;
}
.animate-height{
	transition: all 1s;
	height: 40vh;
}

.animate-height.ng-hide{
	height:0;
}

.animate-height.ng-add{
	height:40vh;
}


.selected{
	border: 5px solid red;
}

.price
{
	/*font-family: Verdana, serif;	*/
	font-family: Muli, serif;
	color: var(--main-theme);
	font-weight: bold;
}

.more-info
{
	cursor:pointer;
}