<!DOCTYPE html>
<html lang="en">
<head>
<title> Dome Kutya | Basket </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<link rel="icon" type="image/jpeg" href="../images/logo.jpg">
<link rel="stylesheet" type="text/css" href="../css/w3.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../css/normalize.css"/>
<link rel="stylesheet" href="../css/categories.css"/>
<link rel="stylesheet" href="../css/common.css"/>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-2"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>		
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>


<script src="../scripts/v3/common.js" ></script>
<script src="../scripts/v3/shop.js" ></script>
<script src="../scripts/v3/basket.js" ></script>
<script src="../scripts/v3/directives/directives.js" ></script>
</head> 

<body>

<div id="header_placeholder"> </div>
<div id="product_shelf_placeholder" class="" ng-app="myApp" ng-controller="Basket">
	<div ng-hide="order.Items.length==0 || order==null" class="w3-xlarge w3-center w3-margin-top" style="font-weight: bold">Your Basket</div>
	<div ng-show="order.Items.length==0 || order==null" class="w3-xlarge w3-center w3-margin-top" style="font-weight: bold">Your basket is empty</div>
	

	
<div class="w3-row" ng-hide="order.Items.length==0 || order==null">

<!--Currency chooser  -->
<div class="w3-large  w3-hide-small w3-margin">
	<span class="w3-white w3-padding w3-round-large hoverable">
		<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-red':currency=='HUF'}">HUF</span> | 
		<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-red':currency=='EUR'}">EURO</span>
	</span>
</div>

<div class="w3-large w3-center w3-hide-large w3-hide-medium w3-margin">
	<span class="w3-white w3-padding w3-round-large hoverable">
		<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-red':currency=='HUF'}">HUF</span> | 
		<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-red':currency=='EUR'}">EURO</span>
	</span>
</div>



	<div class="w3-col l6 w3-padding">
		<div ng-repeat="item in order.Items" class="w3-card w3-margin-top w3-padding w3-white animate-order" style="width: 100%;overflow:hidden;">
				<div>
					<img ng-src="https://adugutesting.s3.eu-central-1.amazonaws.com/{{item.Images.path}}{{item.Images.list[0].name}}"
						style="height:70px; width:auto">
					</img>
					<span>{{item.Title[backbone.lang]}}</span>
				</div>
				<div ng-repeat="combi in item.Combination">
					<span ng-if="item.Variants.variants[$index].type == 'group'">
						<img ng-src="https://adugutesting.s3.eu-central-1.amazonaws.com/{{combi.chosenVariant.Images.path}}{{combi.chosenVariant.Images.list[0].name}}"
						style="height:50px; width:auto"/>
						<span><b>{{item.Variants.variants[$index].text[backbone.lang]}}: </b>
							 {{combi.chosenVariant.Title[backbone.lang]}}
						</span>										
					</span>
					<span ng-if="item.Variants.variants[$index].type == 'individual'">
						<b>{{item.Variants.variants[$index].text[backbone.lang]}}: </b>
						{{combi.text[backbone.lang]}}
						<span ng-if="combi.requiresInput">: {{combi.enteredValue}}</span>
					</span>

				</div>
				<div class="w3-display-container" style="height:10vh;">
					<div id="" class="w3-display-middle quantity w3-hide-small" style="height: 2vw;">
						<span ng-click="changeQuantity($index,-1)" class="w3-black w3-round w3-padding w3-hover-grey">-</span>
						<span class="w3-padding">{{item.Quantity}}</span>
						<span ng-click="changeQuantity($index,1)" class="w3-black w3-round w3-padding w3-hover-grey">+</span>
					</div>
					<!-- Duplicate of above for positioning-->
					<div id="" class="w3-display-left quantity w3-hide-large w3-hide-medium" style="height: 2vw;">
						<span ng-click="changeQuantity($index,-1)" class="w3-black w3-round w3-padding w3-hover-grey">-</span>
						<span class="w3-padding">{{item.Quantity}}</span>
						<span ng-click="changeQuantity($index,1)" class="w3-black w3-round w3-padding w3-hover-grey">+</span>
					</div>
					<div id="price" class="w3-display-right price">{{item.Price.huf * item.Quantity | myCurrency : currency}}</div>
					<div id="remove" ng-click="removeItem($index)" class="w3-display-bottomright" style="text-decoration: underline">Remove</div>
				</div>		
		</div>
	</div>
	<div class="w3-col l6 w3-padding w3-mobile">
		<div ng-hide="order.length==0">
			<select class="w3-padding w3-margin-top" ng-model="shopping.contact.country" ng-change="updateDeliveryCost()" style="width:100%;">
							<option value="default">Choose your country</option>
							<option value="Hungary">Hungary</option>
							<option value="Germany">Germany</option>
							<option value="Italy">Italy</option>
							<option value="Switzerland">Switzerland</option>
							<option value="Romania">Romania</option>
							<option value="France">France</option>
							<option value="UK">United Kingdom</option>
			</select>
			
			<div ng-hide="shopping.contact.country =='default'" class="w3-white w3-padding w3-margin-top">
				<div class="w3-large w3-margin-top">Subtotal: <span class="price">{{order.Costs.Posta.subTotal | myCurrency : currency}}</span></div>
				<div class="w3-large w3-margin-top">Delivery: <span class="price">{{order.Costs.Posta.delivery | myCurrency : currency}}</span></div>
				<div class="w3-xlarge w3-margin-top">Total: <span class="price-total">{{ order.Costs.Posta.total | myCurrency : currency}}</span></div>
				
				<a class="w3-button w3-black w3-round w3-large w3-margin-top w3-padding" href="checkout.html">Proceed to Checkout</a>
			</div>
		</div>
	</div>
</div>


</body>
</html>