<!DOCTYPE html>
<html lang="{{backbone.lang}}" ng-app="AduguShopApp" ng-controller="Basket">
<head>
<title> {{'your-basket' | myTranslator : backbone.lang}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">
<link rel="stylesheet" type="text/css" href="/css/v2/w3.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/v2/normalize.css"/>
<link rel="stylesheet" href="/css/v2/common.css"/>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-2"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>		
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>


<script src="/scripts/v12/common.js" ></script>
<script src="/scripts/v12/shop.js" ></script>
<script src="/scripts/v12/basket.js" ></script>
<script src="/scripts/v12/directives/directives.js" ></script>
<script src="/scripts/v12/services/factories.js" ></script>
<script src="/scripts/v12/directives/translator.js" ></script>
</head> 

<body>

<header ng-include="'header/header.html'" onload="Shop_refreshBasket()"> </header>
<div id="product_shelf_placeholder" >
	<div ng-hide="order.Items.length==0 || order==null" 
			class="w3-xlarge w3-center w3-margin-top" style="font-weight: bold">{{'your-basket' | myTranslator : backbone.lang}}</div>
	<div ng-show="(order.Items.length==0 || order==null) && !backbone.loading" 
				class="w3-xlarge w3-center w3-margin-top" style="font-weight: bold">{{'basket-is-empty' | myTranslator : backbone.lang}}</div>
	

	
<div class="w3-row" ng-hide="order.Items.length==0 || order==null">

<!--Currency chooser  -->
<div class="w3-large w3-margin w3-center">
	<span class="w3-white w3-padding w3-round-large hoverable">
		<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-theme':currency=='HUF'}">HUF</span> | 
		<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-theme':currency=='EUR'}">EURO</span>
	</span>
</div>

<!-- Loading Indication-->
<div ng-show="backbone.loading" class="w3-container w3-center">
	<img class="w3-mobile" src="/images/loading.gif"/>
</div>

<div class="w3-content" style="max-width: 1200px">
	<div class="w3-col l6 w3-padding" ng-if="order != null">
		<div ng-repeat="item in order.Items" class="w3-card w3-margin-top w3-padding w3-white w3-display-container" style="width: 100%;overflow:hidden;">
				<div ng-init="pickedImage = getVariantImage(item)">
					<img ng-src="{{config.imgSrc}}/{{item.Images.path}}{{removeExtension(pickedImage) + '_100w.jpg'}}"
						style="height:70px; width:auto">
					</img>
					<span>{{item.Title[backbone.lang]}}</span>
				</div>
				<div ng-repeat="combi in item.Combination">
					<span ng-if="item.Variants.variants[$index].type == 'group'">
						<img ng-src="{{config.imgSrc}}/{{combi.chosenVariant.Images.path}}{{removeExtension(combi.chosenVariant.Images.list[0].name) + '_100w.jpg'}}"
						style="height:50px; width:auto"/>
						<span><b>{{item.Variants.variants[$index].text[backbone.lang]}}: </b>
							 {{combi.chosenVariant.Title[backbone.lang]}}
						</span>										
					</span>
					<span ng-if="item.Variants.variants[$index].type == 'individual'">
						<b>{{item.Variants.variants[$index].text[backbone.lang]}}: </b>
						{{combi.text[backbone.lang]}}
						<span ng-if="combi.requiresInput">: {{combi.enteredValue}}</span>
					</span>

				</div>
				<div class="w3-margin-top w3-margin-bottom">
					<span class="w3-left">
						<span ng-click="changeQuantity($index,-1)" class="w3-black w3-round w3-padding hoverable w3-hover-grey">-</span>
						<span class="w3-padding">{{item.Quantity}}</span>
						<span ng-click="changeQuantity($index,1)" class="w3-black w3-round w3-padding hoverable w3-hover-grey">+</span>
					</span>
					<div id="price" class="w3-right">
						<div class="price">{{item.Price[currency.toLowerCase()] * item.Quantity | myCurrency : currency}}</div>
						<div ng-show="item.Price.original.discountEnabled"
							style="text-decoration: line-through; color: black"
							class="price">
							{{item.Price.original[currency.toLowerCase()] * item.Quantity | myCurrency : currency}}
						</div>
					</div>
					<div 	id="remove" ng-click="removeItem($index)" 
							class="w3-display-topright w3-padding hoverable" 
							style="text-decoration: underline">
							{{'remove' | myTranslator : backbone.lang}}
					</div>
				</div>		
		</div>
	</div>
	<div class="w3-col l6 w3-padding w3-mobile">
		<div ng-hide="order.length==0">
			<select class="w3-padding w3-margin-top" ng-model="shopping.contact.countryCode" style="width:100%;">
							<option value="">{{'choose-country' | myTranslator : backbone.lang}}</option>
							<option value="HU">{{'HU' | myTranslator : backbone.lang}}</option>
							<option value="SK">{{'SK' | myTranslator : backbone.lang}}</option>
							<option value="AT">{{'AT' | myTranslator : backbone.lang}}</option>
							<option value="DE">{{'DE' | myTranslator : backbone.lang}}</option>
							<option value="RO">{{'RO' | myTranslator : backbone.lang}}</option>
			</select>	
			
			<div ng-if="shopping.contact.countryCode.length > 0 && order != null">

				<div class="w3-margin-top" ng-if="!order.hasOwnProperty('Discount')" ng-init="discount = {value: ''}">
					<input style="font-family: Arial, Helvetica" class="w3-large w3-input" ng-model="discount.value" 
							placeholder="{{'coupon-code' | myTranslator : backbone.lang}}"/>
					<button ng-disabled="discount.value.length < 5" 
							ng-click="applyDiscount(discount.value)" 
							class=" w3-button w3-theme w3-round">{{'apply-code' | myTranslator : backbone.lang}}
					</button>				
				</div>
				<div ng-show="backbone.couponFail" class="w3-text-red">
					<span ng-show="backbone.lang == 'en'">Coupon code is invalid</span>
					<span ng-show="backbone.lang == 'hu'">A kuponkód helytelen</span>
				</div>
				<div class="w3-margin-top" ng-if="order.hasOwnProperty('Discount')" class="w3-large">
					 {{'coupon-code' | myTranslator : backbone.lang}}: {{order.Discount.code}}
					 <span class="material-icons w3-xlarge bold hoverable" ng-click="removeDiscount()">close</span>
				</div>

				<form 	name="deliveryMethod" class="w3-margin-top" 
						ng-hide="getKeys(order.Costs[shopping.contact.countryCode]).length <= 1"
						ng-init="shopping.deliveryMethod = getKeys(order.Costs[shopping.contact.countryCode])[0]">
					<div class="w3-large"><b>{{'choose-courier' | myTranslator : backbone.lang}}</b></div>
					<label ng-repeat="(key, courier) in order.Costs[shopping.contact.countryCode]">
						<input type="radio" ng-model="$parent.shopping.deliveryMethod" ng-value="key" class="w3-radio">
						{{key}} (<b>{{courier.payBeforeDelivery.delivery[currency.toLowerCase()] | myCurrency : currency}}</b>)
					</label><br/>
				</form>	

				<div id="cost-details"  class="w3-white w3-margin-top">
					<div class="w3-large w3-margin-top">{{'subtotal' | myTranslator : backbone.lang}}: 
						<span class="price">
							{{order.Costs[shopping.contact.countryCode][shopping.deliveryMethod].payBeforeDelivery.subTotal[currency.toLowerCase()] | myCurrency : currency}}
						</span>
					</div>
					<div class="w3-large w3-margin-top">{{'delivery' | myTranslator : backbone.lang}}: 
						<span class="price">
							{{order.Costs[shopping.contact.countryCode][shopping.deliveryMethod].payBeforeDelivery.delivery[currency.toLowerCase()] | myCurrency : currency}}
						</span>
					</div>
					<div class="w3-large w3-margin-top" ng-show="order.hasOwnProperty('Discount')">{{'discount' | myTranslator : backbone.lang}}: 
						<span class="price">
							-{{order.Costs[shopping.contact.countryCode][shopping.deliveryMethod].payBeforeDelivery.discount[currency.toLowerCase()] | myCurrency : currency}}
						</span>
					</div>
					<div class="w3-xlarge w3-margin-top">{{'total' | myTranslator : backbone.lang}}: 
						<span class="price-total">
							{{ order.Costs[shopping.contact.countryCode][shopping.deliveryMethod].payBeforeDelivery.total[currency.toLowerCase()] | myCurrency : currency}}
						</span>
					</div>
					
					<button class="w3-button w3-black w3-round w3-large w3-margin-top w3-padding" ng-click="proceedToCheckout()"">{{'proceed-to-checkout' | myTranslator : backbone.lang}}</button>
				</div>
			</div>
			
			
		</div>
	</div> <!--col-->
</div><!--content-->
</div>


</body>
</html>