<!DOCTYPE html>
<html lang="en">
<head>
<title> Dome Kutya | Dog Steps Shop</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="theme-color" content="white">
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">

<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/w3.css"/>
<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
<link rel="stylesheet" type="text/css" href="/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/css/index.css"/>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-2"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
 
<script src="/scripts/common.js" ></script>
<script src="/scripts/index.js" ></script>
<script src="/scripts/shop.js" ></script>

<style>
#list a{
	height:55vh;
}

@media only screen and (min-width: 1200px) {
#list a{
	height:90vh;	
}

}

</style>

</head> 

<body  ng-app="myApp" ng-controller="HomePage">

<div id="header_placeholder" class="w3-white"> </div>
<div id="privacy_placeholder"></div>

<div id="list" class="w3-container" style="">
<a ng-repeat="product in products" ng-href="{{product.link}}" class="w3-mobile w3-margin-top w3-left" style="width:48.5%; overflow:hidden;" >
	<div class="slide">
		<div style="overflow: hidden;" class="w3-display-container display" ng-repeat="x in [].constructor(3) track by $index">
			<img  ng-src="{{product.src}}/img_{{$index+1}}.jpg" style="width:100%;height:auto;margin:auto"></img>
			<div class="w3-display-topleft w3-xxlarge w3-wide w3-text-white" style="">{{product.label}}</div>
		</div>
	</div>
</a> 
</div>



<div ng-include="'footer.html'" class="w3-margin-top">


</div>


</body>
</html>