<!DOCTYPE html>
<html lang="{{backbone.lang}}" ng-app="AduguShopApp" ng-controller="ProductDisplay" >
<head>
<title>{{itemInfo.Title[backbone.lang]}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="UTF-8">
<meta name="description" content="Browse through our product page. We have made it easy to find all the information you are looking for about our products">
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">
<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
<link rel="stylesheet" type="text/css" href="/css/w3.css"/>
<link rel="stylesheet" type="text/css" href="/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/css/product.css"/>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-2"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-sanitize.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script type="text/javascript" src="/slick/angular-slick.js"></script>

<script src="/scripts/v3/common.js" ></script>
<script src="/scripts/v3/shop.js" ></script>
<script src="/scripts/v3/product.js" ></script>
<script src="/scripts/v3/directives/directives.js" ></script>
<script src="/scripts/v3/services/factories.js" ></script>
<script src="/scripts/v3/directives/translator.js" ></script>

<style>
/* width */
::-webkit-scrollbar{
  width: 10px;
}


/* Track */
::-webkit-scrollbar-track{
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb:horizontal{
  background: #888; 
}
::-webkit-scrollbar-thumb:vertical{
   background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb :hover {
  background: #555; 
}


</style>
</head> 

<body ng-init="showImg=false">

<header ng-include="'header.html'"> </header>

<div class="w3-content" style="max-width: 1200px;">
	<div class="w3-row w3-white w3-margin-bottom" >
		<!-- Loading Indication-->
		<div ng-show="backbone.loading" class="w3-container w3-center">
			<img class="w3-mobile" src="/images/loading.gif"/>
		</div>

		<div class="w3-center" ng-if="itemInfo.ProductHierarchy.length >= 2">
			<span ng-repeat="level in itemInfo.ProductHierarchy">
				<span ng-if="$first">{{level.text[backbone.lang]}}</span>
				<a ng-if="!$first" class="underlined" href="Categories.html?storeId=KutyaLepcso&category={{getCategoryForLink($index)}}">{{level.text[backbone.lang]}}</a>
				<span ng-hide="$last">></span>
			</span>
		</div>
		<slick ng-if="itemInfo!=null" settings="slickConfig" id="img_stage" class="w3-margin-top w3-col l5">
			<div style="overflow:hidden;" ng-repeat="img in itemInfo.Images.list track by $index">
				<img class="sub_image" data-lazy="{{config.imgSrc}}/{{$parent.itemInfo.Images.path}}{{img.name}}" 
					style="margin:auto; width: 100%; height: auto ">
				</img>
			</div>
		</slick>


	<div class="w3-container w3-col l7 w3-white">
		<div id="product_title"  class="w3-margin-top w3-margin-bottom w3-large">
			{{itemInfo.Title[backbone.lang]}} - 
			<span ng-repeat="meta in itemInfo.Metadata" ng-hide="meta.hide"> {{meta.value}}</span>
		</div>
		<div  id="product_price" class="w3-margin-top w3-margin-bottom price w3-wide w3-large"
			ng-show="!itemInfo.isCustom">
			{{itemInfo.Price[currency.toLowerCase()] | myCurrency: currency}}
		</div>

		<!--Currency chooser  -->
			<div class="w3-large" ng-show="!itemInfo.isCustom">
				<span class="w3-white w3-round-large hoverable">
					<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-theme':currency=='HUF'}">HUF</span> | 
					<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-theme':currency=='EUR'}">EURO</span>
				</span>
			</div>
		<!-- Overlay of chosen pattern-->
		<div class="w3-modal" ng-show="modal.show">
			<div class="w3-modal-content w3-animate-zoom">
				<div class="w3-display-container" style="height:350px">
					<span class="w3-display-topright material-icons w3-xxlarge w3-white hoverable" ng-click="modal.show = false">close</span>
					<img class="w3-display-middle" ng-src="{{config.imgSrc}}/{{modal.itemToShow.Images.path}}{{modal.itemToShow.Images.list[0].name}}"
					style="max-width:300px; height: auto"/>
					
				</div>
				<div class="w3-center w3-large">{{modal.itemToShow.Title[backbone.lang]}}</div>
			</div>
		</div>

		<!--Info about add to basket button-->
		<div class="w3-margin-top">
			<button id="add_basket_button" 
					ng-hide="(itemInfo.Quantity <= 0 && itemInfo.TrackStock) || itemInfo.isCustom"
					class="w3-button w3-xlarge w3-border w3-border-black w3-hover-white w3-theme w3-round" 
					ng-click="addToBasket();showImg=false">{{'add-to-basket' | myTranslator : backbone.lang}}
			</button>
			<span class="w3-text-red w3-large" ng-show="itemInfo.Quantity <= 0 && itemInfo.TrackStock">
				<b>{{'out-of-stock' | myTranslator : backbone.lang}}</b>
			</span>
			<a class="w3-button w3-large w3-border w3-border-black w3-hover-white w3-theme w3-round" 
				ng-show="itemInfo.isCustom"
				href="Contact.html?topic={{itemInfo.ItemId}}">
				{{'contact-for-pricing' | myTranslator : backbone.lang}}
			</a>
		</div>
				
		<div class="w3-container w3-margin-top w3-row" id="added-prompt" style="padding:0;opacity:0">
			<div class="w3-center w3-animate-left w3-padding w3-theme-2 w3-text-white w3-large w3-col m6 l9">
				{{'added-to-basket' | myTranslator : backbone.lang}}
			</div>
		</div>
		<!-- Choosing of Variants-->
		<form name="selections">
			<div ng-repeat="variant in itemInfo.Variants.variants" ng-init="parentIndex = $index" 
				class="w3-margin-top w3-border w3-border-grey w3-padding">
				<div  ng-if="variant.type == 'group'" ng-init="info={show: false};"
					<b class="w3-large">{{variant.text[backbone.lang]}}: </b> 
					<span style="color: var(--main-theme)">{{pickedSpec[parentIndex].chosenVariant.Title[backbone.lang]}}</span>
					<!--Making sliding image gallery for options of type 'group'-->
					<div ng-repeat="group in variant.options" class="w3-margin-top">
						<div>{{group.text[backbone.lang]}}</div>
						<div style="width:100%;padding:0;white-space:nowrap;overflow-x:auto;">
							<span ng-repeat="pattern in variant.groupInfo[group.name]" class="w3-display-container">
								<img class="w3-circle hoverable" lazy-load="{{config.imgSrc}}/{{pattern.Images.path}}{{pattern.Images.list[0].name}}" 
										
										ng-class="{'selected':pickedSpec[parentIndex].chosenVariant.ItemId == pattern.ItemId}"
										ng-click="$parent.pickedSpec[parentIndex] = group; 
													$parent.pickedSpec[parentIndex].chosenVariant = pattern;updateProductPrice(); 
													$parent.info.show = true" 
										style="height: 90px;width:auto;margin:0 1%;">	
								</img>	
								<span class="material-icons w3-xxlarge w3-text-black w3-display-middle w3-white w3-circle hoverable"
									ng-show="pickedSpec[parentIndex].chosenVariant.ItemId == pattern.ItemId"
									ng-click="modal.show = true; modal.itemToShow = pattern"
									>zoom_in
								</span>	
							</span>
							<div></div>
						</div>
					</div>
				</div>
				<div ng-if="variant.type == 'individual'" class="w3-large">
					<span><b>{{variant.text[backbone.lang]}}</b></span><br>
					<select required  
						ng-options="item.text[backbone.lang] for item in variant.options" 
							ng-model="pickedSpec[$index]" ng-change="updateProductPrice()">
					</select>
					<input required ng-if="pickedSpec[$index].requiresInput && pickedSpec[$index].inputType == 'number'"
						name="var_num_{{$index}}"
						type="number" min="{{pickedSpec[$index].min}}" max="{{pickedSpec[$index].max}}"
						ng-model="$parent.pickedSpec[$index].enteredValue"/>
					<input required ng-if="pickedSpec[$index].requiresInput && pickedSpec[$index].inputType == 'text'"
						name="var_text_{{$index}}" maxlength="{{pickedSpec[$index].max || 8}}"
						class="important-text"
						type="text" class="w3-input" ng-model="$parent.pickedSpec[$index].enteredValue"
						placeholder="{{'max-length' | myTranslator : backbone.lang}}{{pickedSpec[$index].max || 8}}"/>
					<div class="w3-text-red"
						ng-show="(selections['var_num_' + $index].$touched && selections['var_num_' + $index].$invalid) ||
								(selections['var_num_' + $index].$invalid && showAllErrors)">
						<span ng-show="backbone.lang == 'en'">Please enter a number between {{pickedSpec[$index].min}} and {{pickedSpec[$index].max}}</span>
						<span ng-show="backbone.lang == 'hu'"> Kérjük valasszon {{pickedSpec[$index].min}} és {{pickedSpec[$index].max}}  között</span>
					</div>
					<div ng-show="(selections['var_text_' + $index].$touched && selections['var_text_' + $index].$invalid) ||
									(selections['var_text_' + $index].$invalid && showAllErrors)"
						class="w3-text-red">
						{{'invalid-text' | myTranslator : backbone.lang}}
					</div>
				</div>
			</div>
		</form>		
		
		<div class="gapper" style="height:50px">
		</div>
		
		<div ng-controller="Accordions" ng-init="des=false;del=false;ret=false;" class="w3-margin-bottom more-info">
			<div ng-click="des=!des;del=false;ret=false" class="w3-border-bottom w3-border-black w3-padding" style="width:100%;height:auto;overflow:auto">
					<span class="w3-left w3-large bold">{{'description' | myTranslator : backbone.lang}}</span>
					<span class="w3-right w3-large"> <i ng-show="des==false">+</i><i ng-show="des==true">-</i></span>
				<div ng-show="des==true" class="w3-margin-top  important-text animate-height">
					<br><div ng-bind-html="itemInfo.Description[backbone.lang]"></div>
				</div>
			</div>
			<div ng-click="del=!del;des=false;ret=false" class="w3-border-bottom w3-border-black w3-padding" style="width:100%;height:auto;overflow:auto">
					<span class="w3-left w3-large bold">{{'delivery' | myTranslator : backbone.lang}}</span>
					<span class="w3-right w3-large"> <i ng-show="del==false">+</i><i ng-show="del==true">-</i></span>
			<br><div ng-if="del==true" class="w3-margin-top important-text animate-height"><div ng-include="'legal/' + backbone.lang + '/delivery-min.html'"></div></div>
			</div>
			<div ng-click="ret=!ret;del=false;des=false" class="w3-border-bottom w3-border-black w3-padding" style="width:100%;height:auto;overflow:auto">
					<span class="w3-left w3-large bold">{{'returns' | myTranslator : backbone.lang}}</span>
					<span class="w3-right w3-large"> <i ng-show="ret==false">+</i><i ng-show="ret==true">-</i></span>
				<div ng-show="ret==true && backbone.lang == 'en'" class="w3-margin-top important-text  animate-height"><br>Products can only be returned in their original condition, without any missing items.
						<br>For returns not related to the quality of the product, we don't refund delivery costs
				</div>
				<div ng-show="ret==true && backbone.lang == 'hu'" class="w3-margin-top important-text  animate-height">
					<br>
						A terméket csak eredeti állapotában és csomagolásában, hiánytalan mennyiségi, minőségi állapotában vesszük vissza.
						Amennyiben a visszaküldött terméket utánvéttel adja fel, azt nem áll módunkban átvenni.
						Az esetleges méret problémából adódó cserék esetén, a felmerülő költségek (szállítási költség, utánvét költsége), minden esetben a vevőt terhelik
				</div>
			</div>
		
		</div>
			
	</div><!--column 2-->		
	</div><!--row-->
</div><!--content-->
	

<footer ng-include="'footer.html'" class="w3-margin-top"></footer>

</body>
</html>