<!DOCTYPE html>
<html lang="en">
<head>
<title> Dome Kutya | Order Review</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>

<link rel="icon" type="image/jpeg" href="../images/logo.jpg">
<link rel="stylesheet" type="text/css" href="../css/w3.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../css/normalize.css"/>
<link rel="stylesheet" href="../css/common.css"/>
<link rel="stylesheet" href="../css/categories.css"/>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-2"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script src="../scripts/v3/common.js" ></script>
<script src="../scripts/v3/shop.js" ></script>
<script src="../scripts/v3/review.js" ></script>
<script src="../scripts/v3/directives/directives.js" ></script>

</head> 

<body ng-app="myApp">


<div id="header_placeholder"> </div>
<div class="w3-margin-top" ng-controller="Review" ng-init="showBank=false;comment=''">
	<div class="w3-large w3-center w3-xxlarge" style="font-weight:bold">Order Review</div>
	<div class="w3-row">
	<div class="w3-col l6 w3-padding">
		<div ng-repeat="item in order.Items" class="w3-card w3-margin-top w3-padding w3-white" style="width: 100%;overflow:hidden;">
			<div> {{item.Description.en}}</div>
				<div class="w3-row">
					<div class="w3-col s5 w3-center" style="height:20vh; overflow: hidden;">
						<img class="preview_img w3-hide-small" ng-src="{{item.Image.location}}/img_1.jpg" style="width:auto;height:100%;"></img>
						<img class="preview_img w3-hide-medium w3-hide-large" ng-src="{{item.Image.location}}/img_1.jpg" style="width:auto;height:100%;"></img>
					</div>
					<span ng-hide="!item.Variants.hasVariants || item.Variants.itemIsVariant" class="w3-jumbo w3-col s2 w3-center w3-text-red">+</span>
					<div ng-if="item.Variants.hasVariants && !item.Variants.itemIsVariant" class="w3-col s5 w3-center" style="height:20vh; overflow: hidden;">
						<img class="preview_img w3-hide-small " ng-src="{{item.Pattern.Image.location}}/img_1.jpg" style="width:70%;height:auto;"></img>
						<img class="preview_img w3-hide-medium w3-hide-large" ng-src="{{item.Pattern.Image.location}}/img_1.jpg" style="width:100%;height:auto;"></img>						
					</div>
				</div>
				<div class="w3-display-container" style="height:10vh;">
				<div id="quantity" class="w3-display-left ">Quantity: {{item.Quantity}}</div>
					<div ng-if="currency=='HUF'"my-cost-str="item.Price.huf * item.Quantity" id="price" class="w3-display-right price"></div>
					<div ng-if="currency=='EUR'"my-cost-str="item.Price.eur * item.Quantity" id="price" class="w3-display-right price"></div>
				</div>		
		</div>
		<div class="w3-white w3-card w3-padding w3-margin-top">
			<div class="w3-margin-top" style="font-weight: bold">Delivery: <span my-cost-str="order.Costs.delivery" class="price"></span></div>
			<div class="w3-xlarge" style="font-weight: bold">Total: <span my-cost-str="order.Costs.total" class="price"></span></div>
		</div>
	</div>
	
	<div class="w3-col l6 w3-padding">	
		<div class="w3-card w3-padding w3-margin-top w3-white">
		<div class="w3-large w3-center w3-large" style="font-weight:bold">Contact Information</div>
			<div>{{shopping.contact.firstName}}</div>
			<div>{{shopping.contact.email}}</div>
			<div>{{shopping.contact.number}}</div>
			
			<div class="w3-margin-top"><strong>Deliver To:</strong></div>
			<div>{{shopping.contact.firstName}}</div>
			<div>{{shopping.contact.address1}}</div>
			<div ng-hide="shopping.contact.address2==''">{{shopping.contact.address2}}</div>
			<div>{{shopping.contact.city}}</div>
			<div>{{shopping.contact.postCode}}</div>
			<div>{{shopping.contact.country}}</div>
		</div>
	</div>
	</div>
	
	<div class="w3-row w3-padding"> 
	<div class="w3-col l5">
		<b>Comments: Maximum length  ({{temp.comments.length}}/500)</b><br>
		<textarea style="width:100%" rows="5" name="fname" ng-model="temp.comments" maxlength="500"></textarea>
	</div>
	</div>
	
	
	<div class="w3-padding">
		<div class="w3-row">
			<div id="paypal-button" class="w3-col l3 m6 w3-mobile w3-margin-top w3-white w3-round"></div>
		</div>
		<div class="w3-row" ng-show="shopping.contact.country=='Hungary' && currency=='HUF'">
			<div ng-click="backbone.showBank=true" class="w3-col l3 m6 w3-mobile w3-button w3-black  w3-margin-bottom w3-margin-top w3-padding w3-round">Bank Transfer</div>	
		</div>
		<div class="w3-row">
			<div ng-show="shopping.contact.country=='Hungary' && currency=='HUF'" ng-click="backbone.showPayLater=true" class="w3-col l3 m6 w3-mobile w3-button w3-purple  w3-margin-bottom w3-margin-top w3-padding w3-round">Pay On Delivery</div>	
		</div>
	</div>
	
	<div class="w3-modal" ng-show="backbone.showBank==true" style="display:block;z-index:1000">
		<div class="w3-modal-content w3-animate-top w3-card-4" style="top:25vh;">
		 <span ng-click="backButtonPressed()" class="material-icons w3-large w3-display-topright" style="cursor:pointer">cancel</span>
		  <div class="w3-container" ng-show="backbone.showConfirmed==false">
			<div class="w3-medium" style="margin-top:1vh">Please confirm that you want to pay by bank transfer. We will send you an email
			with our account details and payment reference number
			</div>
			<a ng-click="backbone.showConfirmed=true;updatePaymentMethod('bankTransfer');" class="w3-button w3-red w3-margin-top w3-margin-bottom">Confirm</a>
		  </div>
		   <div class="w3-container" ng-show="backbone.showConfirmed==true">
		   
			<div class="w3-medium" style="margin-top:1vh">We have sent an email to <strong>{{shopping.contact.email}}</strong> with instructions of bank transfer. Please do
				this within 24 hours to allow us to process your order.
			</div>
		  </div>
		</div>
	</div>
	<div class="w3-modal" ng-show="backbone.showPaypalReceipt==true" style="display:block;z-index:1000">
		<div class="w3-modal-content w3-animate-top w3-card-4" style="top:25vh;">
		 <span ng-click="backButtonPressed()" class="material-icons w3-large w3-display-topright" style="cursor:pointer">cancel</span>
		  <div class="w3-container">
			<div class="w3-large w3-text-green" style="font-weight:bold">Order Confirmation</div>
			<div class="w3-medium" style="margin-top:1vh">Thank you for placing your order. We will work hard to get it to you as quickly as possible.
			</div>
		  </div>
		</div>
	</div>
	
	<div class="w3-modal" ng-show="backbone.showPayLater==true" style="display:block;z-index:1000">
		<div class="w3-modal-content w3-animate-top w3-card-4" style="top:25vh;">
		 <span ng-click="backButtonPressed()" class="material-icons w3-large w3-display-topright" style="cursor:pointer">cancel</span>
		  <div class="w3-container" ng-show="backbone.showConfirmed==false">
			<div class="w3-medium" style="margin-top:1vh">Please confirm that you want to pay on delivery. We will send you an email to confirm.
			Please note that this will increase the total price by <span class="price">{{order.Costs.payOnDeliveryAdditional}} Ft</span>. Your total to pay will be <span my-cost-str="order.Costs.total + order.Costs.payOnDeliveryAdditional" class="price"></span>
			</div>
			<a ng-click="backbone.showConfirmed=true;updatePaymentMethod('payOnDelivery')" class="w3-button w3-red w3-margin-top w3-margin-bottom">Confirm</a>
		  </div>
		   <div class="w3-container" ng-show="backbone.showConfirmed==true">
			<div class="w3-medium" style="margin-top:1vh">Thank you. We have sent an email to  <strong>{{shopping.contact.email}}</strong>. We will dispatch your order soon
			</div>
		  </div>
		</div>
	</div>
	
</div>




</body>
</html>