<!DOCTYPE html>
<html lang="en" ng-app="AduguShopApp" ng-controller="Basket">
<head>
<title> Dome Kutya | Basket </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">
<link rel="stylesheet" type="text/css" href="/css/v1/w3.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/v1/normalize.css"/>
<link rel="stylesheet" href="/css/v1/common.css"/>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-2"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>		
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>


<script src="/scripts/v2/common.js" ></script>
<script src="/scripts/v2/shop.js" ></script>
<script src="/scripts/v2/basket.js" ></script>
<script src="/scripts/v2/directives/directives.js" ></script>
<script src="/scripts/v2/services/factories.js" ></script>
<script src="/scripts/v2/directives/translator.js" ></script>
</head> 

<body>

<header ng-include="'header/header.html'" onload="Shop_refreshBasket()"> </header>
<div id="product_shelf_placeholder" >
	<div ng-hide="order.Items.length==0 || order==null" 
			class="w3-xlarge w3-center w3-margin-top" style="font-weight: bold">{{'your-basket' | myTranslator : backbone.lang}}</div>
	<div ng-show="(order.Items.length==0 || order==null) && !backbone.loading" 
				class="w3-xlarge w3-center w3-margin-top" style="font-weight: bold">{{'basket-is-empty' | myTranslator : backbone.lang}}</div>
	

	
<div class="w3-row" ng-hide="order.Items.length==0 || order==null">

<!--Currency chooser  -->
<div class="w3-large w3-margin w3-center">
	<span class="w3-white w3-padding w3-round-large hoverable">
		<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-theme':currency=='HUF'}">HUF</span> | 
		<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-theme':currency=='EUR'}">EURO</span>
	</span>
</div>

<!-- Loading Indication-->
<div ng-show="backbone.loading" class="w3-container w3-center">
	<img class="w3-mobile" src="/images/loading.gif"/>
</div>

<div class="w3-content" style="max-width: 1200px">
	<div class="w3-col l6 w3-padding" ng-if="order != null">
		<div ng-repeat="item in order.Items" class="w3-card w3-margin-top w3-padding w3-white animate-order" style="width: 100%;overflow:hidden;">
				<div ng-init="pickedImage = getVariantImage(item)">
					<img ng-src="{{config.imgSrc}}/{{item.Images.path}}{{pickedImage}}"
						style="height:70px; width:auto">
					</img>
					<span>{{item.Title[backbone.lang]}}</span>
				</div>
				<div ng-repeat="combi in item.Combination">
					<span ng-if="item.Variants.variants[$index].type == 'group'">
						<img ng-src="{{config.imgSrc}}/{{combi.chosenVariant.Images.path}}{{combi.chosenVariant.Images.list[0].name}}"
						style="height:50px; width:auto"/>
						<span><b>{{item.Variants.variants[$index].text[backbone.lang]}}: </b>
							 {{combi.chosenVariant.Title[backbone.lang]}}
						</span>										
					</span>
					<span ng-if="item.Variants.variants[$index].type == 'individual'">
						<b>{{item.Variants.variants[$index].text[backbone.lang]}}: </b>
						{{combi.text[backbone.lang]}}
						<span ng-if="combi.requiresInput">: {{combi.enteredValue}}</span>
					</span>

				</div>
				<div class="w3-display-container" style="height:10vh;">
					<div id="" class="w3-display-middle quantity w3-hide-small" style="height: 2vw;">
						<span ng-click="changeQuantity($index,-1)" class="w3-black w3-round w3-padding hoverable w3-hover-grey">-</span>
						<span class="w3-padding">{{item.Quantity}}</span>
						<span ng-click="changeQuantity($index,1)" class="w3-black w3-round w3-padding hoverable w3-hover-grey">+</span>
					</div>
					<!-- Duplicate of above for positioning-->
					<div id="" class="w3-display-left quantity w3-hide-large w3-hide-medium" style="height: 2vw;">
						<span ng-click="changeQuantity($index,-1)" class="w3-black w3-round hoverable w3-padding w3-hover-grey">-</span>
						<span class="w3-padding">{{item.Quantity}}</span>
						<span ng-click="changeQuantity($index,1)" class="w3-black w3-round hoverable w3-padding w3-hover-grey">+</span>
					</div>
					<div id="price" class="w3-display-right price">{{item.Price[currency.toLowerCase()] * item.Quantity | myCurrency : currency}}</div>
					<div id="remove" ng-click="removeItem($index)" class="w3-display-bottomright hoverable" style="text-decoration: underline">{{'remove' | myTranslator : backbone.lang}}</div>
				</div>		
		</div>
	</div>
	<div class="w3-col l6 w3-padding w3-mobile">
		<div ng-hide="order.length==0">
			<select class="w3-padding w3-margin-top" ng-model="shopping.contact.country" ng-change="updateDeliveryCost()" style="width:100%;">
							<option value="default">{{'choose-country' | myTranslator : backbone.lang}}</option>
							<option value="Hungary">{{'hungary' | myTranslator : backbone.lang}}</option>
							<option value="Germany">{{'germany' | myTranslator : backbone.lang}}</option>
							<option value="Italy">{{'italy' | myTranslator : backbone.lang}}</option>
							<option value="Switzerland">{{'switzerland' | myTranslator : backbone.lang}}</option>
							<option value="Romania">{{'romania' | myTranslator : backbone.lang}}</option>
							<option value="France">{{'france' | myTranslator : backbone.lang}}</option>
							<option value="UK">{{'united kingdom' | myTranslator : backbone.lang}}</option>
			</select>
				
			<form ng-if="couriers.length > 1" name="deliveryMethod" class="w3-margin-top" >
				<div class="w3-large"><b>{{'choose-courier' | myTranslator : backbone.lang}}</b></div>
				<label ng-repeat="(key, value) in order.Costs">
					<input type="radio" ng-model="$parent.shopping.deliveryMethod" ng-value="key" class="w3-radio">
					{{key}} (<b>{{order.Costs[key].delivery | myCurrency : currency}}</b>)
				</label><br/>
			</form>
			
			<div id="cost-details" ng-hide="shopping.contact.country =='default'" class="w3-white w3-margin-top">
				<div class="w3-large w3-margin-top">{{'subtotal' | myTranslator : backbone.lang}}: <span class="price">{{order.Costs[shopping.deliveryMethod].subTotal | myCurrency : currency}}</span></div>
				<div class="w3-large w3-margin-top">{{'delivery' | myTranslator : backbone.lang}}: <span class="price">{{order.Costs[shopping.deliveryMethod].delivery | myCurrency : currency}}</span></div>
				<div class="w3-xlarge w3-margin-top">{{'total' | myTranslator : backbone.lang}}: <span class="price-total">{{ order.Costs[shopping.deliveryMethod].total | myCurrency : currency}}</span></div>
				
				<button class="w3-button w3-black w3-round w3-large w3-margin-top w3-padding" ng-click="proceedToCheckout()"">{{'proceed-to-checkout' | myTranslator : backbone.lang}}</button>
			</div>
		</div>
	</div> <!--col-->
</div><!--content-->
</div>


</body>
</html>