<!DOCTYPE html>

<html lang="{{backbone.lang}}" ng-app="AduguShopApp" ng-controller="Categories">

<head>
<title>{{backbone.categoryName[backbone.lang]}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<meta ng-if="backbone.lang == 'en'" name="description" content="Browse through our product categories which include stairs, ramps, dog lofts, beanbags and more!">
<meta ng-if="backbone.lang == 'hu'" name="description" content="Nézz körül termékeink között: lépcsők, rámpák, Dömötör kutya galériák, bújózsák és babzsák">
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">
<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="/css/v1/w3.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<link rel="stylesheet" href="/css/v1/normalize.css"/>
<link rel="stylesheet" href="/css/v1/common.css"/>
<link rel="stylesheet" href="/css/v1/categories.css"/>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-2"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-sanitize.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
 
<script src="/scripts/v6/common.js" ></script>
<script src="/scripts/v6/shop.js" ></script>
<script src="/scripts/v6/categories.js"></script>
<script src="/scripts/v6/directives/directives.js" ></script>
<script src="/scripts/v6/services/factories.js" ></script>
<script src="/scripts/v6/directives/translator.js" ></script>

</head> 

<body>


<header ng-include="'header/header.html'" onload="Shop_refreshBasket()"> </header>

<div class="w3-xxlarge w3-center">{{backbone.categoryName[backbone.lang]}}</div>

<!--Currency chooser  -->
<div class="w3-large w3-center w3-margin">
	<span class="w3-white w3-padding w3-round-large hoverable">
		<span class="button" onclick="Shop_updateCurrency('HUF')" ng-class="{'w3-tag w3-theme':currency=='HUF'}">HUF</span> | 
		<span class="button" onclick="Shop_updateCurrency('EUR')" ng-class="{'w3-tag w3-theme':currency=='EUR'}">EURO</span>
	</span>
</div>

<div  class="w3-content w3-container" style="max-width: 1200px;">
	<!-- Loading Indication-->
	<div ng-show="backbone.loading" class="w3-container w3-center">
		<img class="w3-mobile" src="/images/loading.gif"/>
	</div>

	<a ng-repeat="product in categoryData" href="ProductPage.html?{{product.href}}" 
			class="w3-left w3-center w3-large w3-mobile my-product w3-white product-shelf-placeholder" 
			style="width:48.5%;margin-top:2vh;">

			<div style="width:100%; overflow:hidden;" class="category-image">
				<img class="category-image w3-center" lazy-load="{{config.imgSrc}}/{{product.Images.path}}{{product.Images.list[0].name}}" 
					style="margin:auto;">
				</img> 
			</div>

		<div class="description w3-padding w3-large">{{product.Title[backbone.lang]}}</div>
		<div ng-hide="product.Metadata == null || product.Metadata.length == 0">
			<div ng-hide="meta.hide" ng-repeat="meta in product.Metadata">
				{{meta.value}}
			</div>
		</div>
		<div ng-hide="product.isCustom" class="price w3-padding">{{product.Price[currency.toLowerCase()] | myCurrency: currency}}</div>
		<div style="border: 2px solid var(--main-theme); margin: auto; width: 90%"></div>
	</a>

</div>

<footer ng-include="'header/footer.html'" class="w3-container w3-stretch" style="margin-top: 20px !important;"></footer>

</body>
</html>