<!DOCTYPE html>
<html lang="en">
<head>
<title> Dome Kutya |  Checkout </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>

<!--link rel="stylesheet" href="css/shop-list-design.css"/-->
<link rel="stylesheet" type="text/css" href="/css/v1/w3.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-2"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>


<link rel="stylesheet" href="/css/v1/normalize.css"/>
<link rel="stylesheet" href="/css/v1/common.css"/>
<link rel="stylesheet" href="/css/v1/checkout.css"/>

<script src="/scripts/v2/common.js" ></script>
<script src="/scripts/v2/shop.js" ></script>
<script src="/scripts/v2/checkout.js" ></script>
<script src="/scripts/v2/directives/translator.js" ></script>

</head> 

<body ng-app="AduguShopApp" ng-controller="Checkout" >

<div ng-include="'header/header.html'" onload="Shop_refreshBasket()"> </div>

<div class="w3-container w3-margin-top" ng-init="agreed=false">
	
	<div class="w3-card w3-mobile" style="width:70%">
	<div class="w3-large w3-center">{{'contact-info' | myTranslator : backbone.lang}}</div>
	<form name="form1" novalidate class="entry w3-padding" >
		<input type="text" class="w3-input" name="name" ng-model="user.firstName" required  autocomplete="name"/>
		<label style="color: var(--main-theme)">{{'full-name' | myTranslator : backbone.lang}}</label>
		<span class="w3-text-red" ng-show="form1.name.$touched && form1.name.$invalid">{{'required' | myTranslator : backbone.lang}}</span>
		
		<input type="text" class="w3-input" name="dogs" ng-model="user.dogsName" />
		<label style="color: var(--main-theme)">{{'dogs-name' | myTranslator : backbone.lang}}</label>

		<input type="email" class="w3-input" name="email" ng-model="user.email" placeholder="" required  autocomplete="email"/>
		<label style="color: var(--main-theme)">{{'email' | myTranslator : backbone.lang}}</label>
		<span class="w3-text-red" ng-show="form1.email.$touched && form1.email.$invalid">{{'required' | myTranslator : backbone.lang}}</span>
		
		<input type="tel" class="w3-input" name="number" ng-model="user.number" placeholder="" autocomplete="tel" required />
		<label style="color: var(--main-theme)">{{'telephone' | myTranslator : backbone.lang}}</label>
		<span class="w3-text-red" ng-show="form1.number.$touched && form1.number.$invalid">{{'required' | myTranslator : backbone.lang}}</span>
	</form>
	</div>
	<div class="w3-card w3-margin-top w3-mobile" style="width:70%">
		<div class="w3-large w3-center">{{'delivery-information' | myTranslator : backbone.lang}}</div>
		<form  name="form" novalidate class="entry w3-padding">
			<input type="text" class="w3-input" name="addr" ng-model="user.address1" required placeholder=""  autocomplete="address-line1" />
			<label style="color: var(--main-theme)">{{'address' | myTranslator : backbone.lang}} 1</label>
			<span class="w3-text-red" ng-show="form.addr.$touched && form.addr.$invalid">{{'required' | myTranslator : backbone.lang}}</span>
			
			<input type="text" class="w3-input" ng-model="user.address2" placeholder=""  autocomplete="address-line2"/>
			<label style="color: var(--main-theme)">{{'address' | myTranslator : backbone.lang}} 2 (optional)</label>
			
			<input type="text" class="w3-input" name="city" ng-model="user.city" required placeholder=""/>
			<label style="color: var(--main-theme)">{{'city' | myTranslator : backbone.lang}}</label>
			<span class="w3-text-red" ng-show="form.city.$touched && form.city.$invalid">{{'required' | myTranslator : backbone.lang}}</span>
			
			
			<input type="text" class="w3-input" name="pcode"ng-model="user.postCode" required placeholder=""  autocomplete="postal-code"/>
			<label style="color: var(--main-theme)">{{'postcode' | myTranslator : backbone.lang}}</label>
			<span class="w3-text-red" ng-show="form.pcode.$touched && form.pcode.$invalid">{{'required' | myTranslator : backbone.lang}}</span>
			
			<br><br>
			<input type="text" class="w3-input" name="country" value="{{user.country.toLowerCase() | myTranslator : backbone.lang}}" disabled/>

		</form>
	</div>

	<label id="terms"  class="w3-block w3-margin-bottom w3-margin-top w3-white w3-round w3-padding w3-mobile" style="width:70%">
		<input class="w3-check" type="checkbox" ng-disabled="!form.$valid || !form1.$valid" ng-model="agreed"> 
			<span ng-if="backbone.lang == 'en'">I agree with the <a class="underlined" href="Help.html?show=contract" target="_blank">terms and conditions</a> in regards to this order</span>
	 		<span ng-if="backbone.lang == 'hu'">Ezzel a rendeléssel elfogadom az <a class="underlined" href="Help.html?show=contract" target="_blank">Általános Szerződési Felételeket</a></span> 
	</label>
	
	<a id="payment-proceed" ng-show="agreed" ng-click="proceedToPayment()" 
			class="w3-button w3-black  w3-margin-bottom w3-padding w3-mobile" 
			style="width:50%">{{'proceed-to-payment' | myTranslator : backbone.lang}}</a>		


	

</div>


</body>
</html>