<!DOCTYPE html>
<html lang="{{backbone.lang}}" ng-app="AduguShopApp" ng-controller="Help">
<head>
<link rel="alternate" hreflang="hu" href="https://dome.kutyalepcso.com/hu/Help.html" />
<link rel="alternate" hreflang="en" href="https://dome.kutyalepcso.com/en/Help.html" />
<title>{{'legal-information' | myTranslator : backbone.lang}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/jpeg" href="/images/logo.jpg">
<link rel="stylesheet" type="text/css" href="/css/v1/w3.css"/>

 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131830139-2"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="/css/v1/common.css"/>
<link rel="stylesheet" href="/css/v1/help.css"/>


<script src="/scripts/v9/common.js" ></script>
<script src="/scripts/v9/shop.js" ></script>
<script src="/scripts/v9/help.js" ></script>
<script src="/scripts/v9/directives/translator.js" ></script>


</head> 

<body >
 <header ng-include="'header/header.html'" onload="Shop_refreshBasket()"> </header>
 
	<div class="w3-white">
		<div ng-click="content.showInfo=true;content.info='our-details'" 
				class=" w3-padding w3-center heading">{{'introduction' | myTranslator : backbone.lang}}
		</div>
		
		<div ng-click="content.showInfo=true;content.info='contract'" 
					class=" w3-padding w3-center heading">{{'terms' | myTranslator : backbone.lang}}
		</div>
		
		<div ng-click="content.showInfo=true;content.info='use-of-personal-data'" 
				class=" w3-padding w3-center heading">{{'use-of-personal-data' | myTranslator : backbone.lang}}
		</div>
		
		<div ng-click="content.showInfo=true;content.info='shipping'" 
				class=" w3-padding w3-center heading">{{'shipping-and-delivery' | myTranslator : backbone.lang}}
		</div>
		
		<div ng-click="content.showInfo=true;content.info='use-of-cookies'" 
				class=" w3-padding w3-center heading">{{'use-of-cookies' | myTranslator : backbone.lang}}
		</div>		
	
	</div>
	
	<div class="w3-modal " ng-show="content.showInfo==true" 
				style="display:block;padding-top:7vh; font-family: 'Montserrat', Arial;" >
	 <span ng-click="content.showInfo=false" class="material-icons w3-xxlarge w3-text-white" style="z-index:1000;cursor:pointer;position:fixed;top:0vw;right:2vw">cancel</span>
		<div class="w3-modal-content w3-animate-top w3-card-4 w3-round " style="overflow:auto;width:100%;max-height:95%">

		  <div ng-if="content.info=='our-details'" class="w3-container links">
			<div ng-include="'legal/' + backbone.lang + '/our_details.html'"></div>
		  </div>
		  <div ng-if="content.info=='shipping'" class="w3-container links" style="height:90vh;">
			<div ng-include="'legal/' + backbone.lang + '/delivery.html'"></div>
		  </div>
			<div ng-if="content.info=='use-of-personal-data'" class="w3-container links">
			<div ng-include="'legal/' + backbone.lang + '/use-of-personal-data.html'"></div>
		  </div>
		  <div ng-if="content.info=='contract'" class="w3-container links">
			<div ng-include="'legal/' + backbone.lang + '/contract.html'"></div>
		  </div>
		  <div ng-show="content.info=='use-of-cookies'" class="w3-container links">
			<div class="w3-xlarge"><b>{{'use-of-cookies' | myTranslator : backbone.lang}}</b></div>
			<div ng-include="'legal/' + backbone.lang + '/cookie_policy.html'"></div>
		  </div>
		 
			
		
	</div>
	

</body>

</html>