<div ng-if="(cookie.inFooter == 'no' || cookie.inFooter == null) && cookie.show">
	<div  class="w3-margin-top w3-center" ng-if="lang == 'en'">
		We use cookies to understand how our website is being used. To disable all cookies, please
		<a class="underlined" href="Settings.html">follow this link</a> to our website settings
		<div class="w3-center" ng-show="!forFooter">
			<button class="w3-theme w3-button w3-round" ng-click="changeCookie(true)">Okay</button>
		</div>	
	</div>

	<div class="w3-margin-top w3-center"  ng-if="lang == 'hu'">
		Szeretnénk minél felhasználó barátabbá és egyszerűbbé tenni weboldalunk használatát.
		Emiatt weboldalunkon Sütiket (cookies) használunk, hogy jobban megismerhessük a Vevők érdeklődési körét.
		Ha nem szeretnéd használni a sütiket, akkor kattints <a class="underlined" href="Settings.html"> erre a linkre</a>
		<div class="w3-center" ng-show="!forFooter">
			<button class="w3-theme w3-button w3-round" ng-click="changeCookie(true)">Rendben</button>
		</div>
	</div>
</div>

<div ng-if="cookie.inFooter == 'yes'" class="w3-small">
	<div  ng-if="lang == 'en'">
		We use cookies to understand how our website is being used. To disable all cookies, please
		<a class="underlined" href="Settings.html">follow this link</a> to our website settings
	</div>

	<div  ng-if="lang == 'hu'">
		Szeretnénk minél felhasználó barátabbá és egyszerűbbé tenni weboldalunk használatát.
		Emiatt weboldalunkon Sütiket (cookies) használunk, hogy jobban megismerhessük a Vevők érdeklődési körét.
		Ha nem szeretnéd használni a sütiket, akkor kattints <a class="underlined" href="Settings.html"> erre a linkre</a>
	</div>
</div>