.halo-product span{
	padding: 5%;
	transition: all 0.5s linear;
}

.halo-product:hover span{
	padding: 15%;
}
.list-margin{
	margin-left: 0.5%;
}
/* Using mobile first design so setting for bigger screens*/
@media only screen and (min-width: 601px) {
#list a:nth-child(odd){
	margin-left:1vw;
}
#list a:nth-child(even){
	margin-left:1vw;
}
.display{
	height:60vw;
}

}

