<div class="w3-modal" ng-show="messageToDisplay != null && messageToDisplay.Info.type === 'overlay'" 
            style="display: block;">
    <div class="w3-modal-content w3-animate-zoom w3-display-container w3-mobile"  
            style="height: 450px; width: 90% !important;overflow-y: auto">
        <span class="w3-display-topright material-icons w3-xxlarge w3-white hoverable" 
                ng-click="messageToDisplay = null">close</span>
        <span class="w3-center">
            <my-document  ng-if="messageToDisplay != null && messageToDisplay.Info.type === 'overlay'" 
                storeid="storeId" documentid="messageToDisplay.Info.contentRef"></my-document>
        </span>
    </div>
</div>
<div    ng-show="messageToDisplay != null && messageToDisplay.Info.type === 'banner'" 
        class="w3-border w3-border-red w3-padding w3-display-container" 
        ng-class="{'full-height': !settings.reducedHeight, 'reduced-height': settings.reducedHeight}">
        <span ng-click="settings.reducedHeight = !settings.reducedHeight"
            class="w3-display-bottomright">
            <span ng-show="settings.reducedHeight" 
                    class="material-icons w3-button w3-border w3-hover-brown w3-white w3-border-brown w3-circle">
                    expand_more
            </span>
            <span ng-show="!settings.reducedHeight" 
                class="material-icons w3-button w3-border w3-hover-brown w3-white w3-border-brown w3-circle">
                expand_less
            </span>
        </span>
        <my-document  ng-if="messageToDisplay != null && messageToDisplay.Info.type == 'banner'"
            storeid="storeId" documentid="messageToDisplay.Info.contentRef"></my-document>
</div>