<div class="w3-modal" ng-show="messageToDisplay != null" style="display: block;">
    <div class="w3-modal-content w3-animate-zoom w3-display-container w3-mobile w3-padding"  style="height: 350px; width: 70%; overflow-y: auto">
        <span class="w3-display-topright material-icons w3-xxlarge w3-white hoverable" ng-click="messageToDisplay = null">close</span>
        <span class="w3-padding w3-center">
            <div><b class="w3-xlarge">{{messageToDisplay.title[lang]}}</b></div>
            <div ng-bind-html="messageToDisplay.content[lang]"></div>
        </span>
    </div>
</div>